<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
             <!-- Use this pattern for Kubernetes deployments -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level %C:%L [%t] - %m%n" />
            <!-- Use this pattern for local debugging -->
            <!--<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %msg%n" /> -->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.apache.http" level="INFO"/>

        <!-- Set mongo logging to WARN to avoid all the Connection opened/closed messages -->
        <Logger name="org.mongodb.driver.connection" level="WARN"/>

        <!-- Set to DEBUG Level to log JVM memory usage -->
        <Logger name="eu.europeana.oaipmh.OaiPmhApplication" level="INFO"/>
    </Loggers>
</Configuration>
